$background-color-blue: rgb(62, 80, 173);
$background-color-green:#4299a9;
$background-color-yellow:rgb(223, 200, 22);
$background-color-white:whitesmoke;
$background-color-orange:orange;
$background-color-black:rgb(58, 58, 58);
$font-family:'Courier New', Courier, monospace;
$box-shadow:rgb(214, 214, 214);
